#review-parent {
    display: flex;
    position: relative;
    width: 80vw;
    margin: 30px auto 20px auto;
    align-items: center;
    justify-content: center;

    .review-child {
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        span {
            width: 60%;
            text-align: left;
            position: relative;
            display: flex;
            margin: 0 auto 0 auto;
            align-items: center;
            justify-content: center;

            div {
                padding: 10px;

                h1 {
                    text-align: left;
                }

                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 32px;
                    font-feature-settings: 'salt'on, 'liga'off;
                    color: #18191F;
                }
            }
        }
    }
}

#comma {
    margin-top: 30px;
    position: absolute;
    bottom: 58%;
    right: 80%;
    z-index: -999;
}

@media only screen and (max-width: 960px){
#comma{
    position: initial;
}
}
 #single-unit {
    position: absolute;
    bottom: 30px;
    left: 50px;
    z-index: -9999;
}